:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #23252C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.fa-brands {
  color:black;
  font-size: 2rem;
}
.card-container {
  width: 425px;
  background-color: #1A1B21;
  border-radius: 12px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 350px;
  
}
h4 {
  font-weight: 400;
}
h2 {
  margin-bottom: 0;
}
h4 {
  margin-top: 2.5px;
  color:#F3BF99;
}
.mail {
  background-color: white;
  color: black;
  padding: 0.6em 2.5em;
}
.linkedIn {
  background-color: #5093E2;
  margin-left: 1em;
  padding: 0.6em 2.5em;
}
.linkedIn .fa-linkedin {
  font-size: 1rem;
  color: white;
  margin-right: 1em;
}
.mail .fa-envelope {
  margin-right: 1em;
}
.card-content {
  padding: 0 0.5em;
}
.card-descriptions {
  width: 300px;
  margin: 0 auto 2em auto;
  text-align: left;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1.5em;
  background-color: #161619;
}
.socials .fa-linkedin,.socials .fa-github{
  background-color: #918E9B;
  padding: 0.2em;
  border-radius: 5px;
}
.card-descriptions h2 {
  margin-bottom: 0;
}
.card-descriptions p {
  margin-top: 0;
}